<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AquilaErpWpfApp3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <AquilaErpWpfApp3.Properties.Settings>
            <setting name="SettingChnl" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingHttp" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingId" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingCompany" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingLogImg" serializeAs="String">
                <value />
            </setting>
            <setting name="SettingSignImg" serializeAs="String">
                <value />
            </setting>
            <setting name="str_PrnNm" serializeAs="String">
                <value />
            </setting>
            <setting name="str_weighing_Port_1" serializeAs="String">
                <value />
            </setting>
            <setting name="str_weighing_BaudRate_1" serializeAs="String">
                <value />
            </setting>
            <setting name="str_weighing_Parity_1" serializeAs="String">
                <value />
            </setting>
            <setting name="str_weighing_Length_1" serializeAs="String">
                <value />
            </setting>
            <setting name="str_weighing_StopBit_1" serializeAs="String">
                <value />
            </setting>
            <setting name="str_weighing_Type_1" serializeAs="String">
                <value />
            </setting>
            <setting name="str_email_id" serializeAs="String">
                <value />
            </setting>
            <setting name="str_email_password" serializeAs="String">
                <value />
            </setting>
            <setting name="str_email_stmp" serializeAs="String">
                <value />
            </setting>
            <setting name="str_weighing_Port_2" serializeAs="String">
                <value />
            </setting>
            <setting name="str_weighing_BaudRate_2" serializeAs="String">
                <value />
            </setting>
            <setting name="str_weighing_Parity_2" serializeAs="String">
                <value />
            </setting>
            <setting name="str_weighing_Length_2" serializeAs="String">
                <value />
            </setting>
            <setting name="str_weighing_StopBit_2" serializeAs="String">
                <value />
            </setting>
            <setting name="str_weighing_Type_2" serializeAs="String">
                <value />
            </setting>
            <setting name="is_weighing_Checkd_2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SettingAdemPath" serializeAs="String">
                <value>C:\ADEM</value>
            </setting>
            <setting name="SettingOptPath" serializeAs="String">
                <value>C:\OPT</value>
            </setting>
            <setting name="ApplicationThemeName" serializeAs="String">
                <value>Office2016White</value>
            </setting>
            <setting name="SettingDBName" serializeAs="String">
                <value>ROBO</value>
            </setting>
        </AquilaErpWpfApp3.Properties.Settings>
    </userSettings>
</configuration>