<?xml version="1.0" encoding="utf-8" ?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <settings>
    <setting useStatementNamespaces="false" />
    <setting cacheModelsEnabled="true" />
    <setting validateSqlMap="false" />
    <setting useReflectionOptimizer="true" />
  </settings>

  <providers resource="./Config/providers.config"/>

  <database>
    <!--
    <provider name="oracleClient1.0"  />
    <dataSource name="oraErp_Daegil" connectionString="User Id=daegil;Password=daegil;Data Source=(DESCRIPTION=(ADDRESS_LIST= (ADDRESS=(PROTOCOL=TCP) (HOST=210.217.42.132) (PORT=1521))) (CONNECT_DATA = (SERVICE_NAME = daegil)))"/>
    -->
    <provider name="sqlServer4.0" />
    <!-- ROBO Server-->
    <!--<dataSource name="SalesData" connectionString="Data Source=121.137.106.161;Initial Catalog=ROBO;Persist Security Info=True;User ID=user01; Password=ieg0905!; Timeout=800"/>-->
    <!--<dataSource name="SalesData" connectionString="Data Source=210.217.42.139,7300;Initial Catalog=SFND;Persist Security Info=True;User ID=sa; Password=wjstkstlf_1234; Timeout=800"/>-->

    <dataSource name="SalesData" connectionString="Data Source=210.217.42.147,7300; Initial Catalog=ROBO; Persist Security Info=True; User ID=sa; Password=wjstkstlf_1234; Timeout=800"/>

  </database>

  <!--SQL File-->
  <sqlMaps>
    <sqlMap resource="./Models/Sql/author_sqlFile.xml" />
    <sqlMap resource="./Models/Sql/system_sqlFile.xml" />
    <sqlMap resource="./Models/Sql/sale_sqlFile.xml" />
    <sqlMap resource="./Models/Sql/pur_sqlFile.xml" />
    <sqlMap resource="./Models/Sql/man_sqlFile.xml" />
    <sqlMap resource="./Models/Sql/inv_sqlFile.xml" />
	<sqlMap resource="./Models/Sql/fproof_sqlFile.xml" />
	<sqlMap resource="./Models/Sql/tec_sqlFile.xml" />
    
    <!--PDA-->
    <sqlMap resource="./Models/Sql/pda_sqlFile.xml" />
    
  </sqlMaps>
</sqlMapConfig>